SECRET_KEY = 'A0Zr98j/3yX R~XHH!jmN]LWX/,?RT'
MINETEST_EXE = '/home/rubenwardy/dev/minetest/bin/minetest'
MINETEST_EXE_PARAMS = ["--server"]
MINETEST_WORLDS = '/home/rubenwardy/dev/minetest/worlds/'
SQLALCHEMY_DATABASE_URI = 'sqlite:///data.sqlite'
CHECK_INTERVAL = 60
