<!doctype html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
</head>
<body{% if not server %} class="no-nav"{% endif %}>
	{% if server %}
		<ul id="navbar">
			<li><a href="{{ url_for('index') }}">&larr; Servers</a></li>
			<li><a href="{{ url_for('dashboard', sid=server.id) }}">Dashboard</a></li>
			<li><a href="{{ url_for('settings', sid=server.id) }}" >Settings</a></li>
			<li><a href="{{ url_for('chat', sid=server.id) }}" >Chat</a></li>
			<li><a href="{{ url_for('debuglog', sid=server.id) }}" >DebugLog</a></li>
		</ul>
	{% endif %}

	{% block content %}{% endblock %}
</body>
</html>
