{% extends "base.html" %}

{% block title %}{{ server.name }} - Chat{% endblock %}

{% block content %}
	<h1>{{ server.name }} - Chat</h1>

	<a id="updown" class="{{ status }}"></a>

	<aside id="server_details" class="box">
		Some stuff here
	</aside>

	<style>
		.chatbox .messages {
			height: 300px;
			overflow: hidden;
			background: #333;
		}

		.chatbox table {
			width: 100%;
		}

		.chatbox tr td:nth-child(1) {
			width: 120px;
			text-align: right;
			padding-right: 10px;
		}

		.chatbox .messages td {
			border-bottom: 1px solid #444;
			vertical-align: top;
		}
	</style>

	<main>
		{% if status != "on" %}
			<div class="box">
				The server needs to be online for chat to work.<br />

				<a class="button" href="{{ url_for('server_start', sid=server.id)}}">Start</a>
			</div>
		{% else %}
		<script type="text/javascript" src="{{ url_for('static', filename='ajax.js') }}"></script>
		<script type="text/javascript">
			$( "document" ).ready(start_ajax({{ server.id }}))
		</script>
			<article class="chatbox box">
				<div class="messages">
					<table class="view">
						{% for entry in entries %}
							<tr><td>{{ entry.username }}</td><td>{{ entry.message }}</td></tr>
						{% else %}
							<tr><td></td><td>No messages.</td></tr>
						{% endfor %}
					</table>
				</div>
				<div class="send_message">
					<form method="post">
						<input type="text" id="msg" name="msg">
						<input type="submit" value="Send">
					</form>
				</div>
			</article>
		{% endif %}
	</main>
{% endblock %}
