{% extends "base.html" %}

{% block title %}{{ server.name }} - Debug Log{% endblock %}

{% block content %}
	<h1>{{ server.name }} - Debug Log</h1>

	<a id="updown" class="{{ status }}"></a>

	<aside id="server_details" class="box">
		<form method="get">
			Last <input type="number" style="max-width: 60px" value="{{ n }}" min=1 max=1000 name="n">
			lines.<br />
			<input type="checkbox" name="i" {% if inc %}checked{% endif %}> Include all sessions.<br />
			<input type="submit" value="Go">
		</form>
	</aside>

	<main>
		<pre class="box"><code>{{ debuglog or "No entries available."}}</code></pre>
	</main>
{% endblock %}
