html, body {
	font-family: "Arial", sans-serif;
	padding: 0;
	margin: 0;
	background: #333;
	color: #f0f0f0;
}

.no-nav main {
	left: 0;
}

a {
	color: #88f;
	text-decoration: none;
}

a:hover {
	color: #bbf;
	text-decoration: underline;
}

#navbar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100px;
	bottom: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	background: #2A2A2A;
}

#navbar li {
	display: block;
	margin: 0;
	padding: 0;
}

#navbar li a {
	display: block;
	padding: 5px;
	text-align: center;
	color: #999;
}

main {
	position: absolute;
	left: 100px;
	top: 47px;
	right: 215px;
}

h1 {
	margin: 0;
	text-align: center;
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
	display: block;
	border-bottom: 1px solid #555;
}

input, .button {
	background: #3C3C3C;
	border: 1px solid #555;
	border-radius: 3px;
	color: #f0f0f0;
	padding: 3px;
	margin: 5px;
}

.button {
	display: inline-block;
}

.box {
	margin: 5px;
	background: #3C3C3C;
	border: 1px solid #555;
	border-radius: 3px;
	padding: 5px;
}

.box-w-h h2 {
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
	display: block;
	border-bottom: 1px solid #555;
}

.box-fit {
	display: inline-block;
	margin-top: 10%;
}

#updown {
	position: absolute;
	top: 5px;
	right: 5px;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 15px;
}

#updown.on {
	background: green;
}

#updown.off {
	background: transparent;
	border: 1px solid #999;
}

#updown.crashed, #updown.blocked {
	background: red;
}

#updown.no-connect {
	background: orange;
}

#updown.restart-required {
	background: blue;
}

#server_details {
	position: absolute;
	top: 45px;
	right: 2px;
	width: 190px;
}

.log, .log li {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
}

.log li {
	padding: 5px;
	margin: 3px;
	background: #3C3C3C;
	border: 1px solid #555;
	border-radius: 3px;
}

.log li.error {
	background: #3C0000;
	border: 1px solid #500;
}

.log pre {
	display: none;
	background: #3C3C3C;
	border: 1px solid #555;
	border-radius: 3px;
	padding: 3px;
	margin: 5px 0 0 0;
}

.log li:hover pre {
	display: block;
}

.note, form table td:nth-child(3) {
	font-size: 80%;
	color: #d0d0d0;
}
